.slider {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slider img {
  width: 700px; /* Adjust the width as needed to fit the container */
  display: block;
  margin: 0 auto; /* Center images horizontally */
  transition: transform 0.3s ease-in-out;
  height: 700px;
  background-size: cover;
}

/* Add styling for navigation buttons */
.slider button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.slider button:hover {
  background-color: #0056b3;
}
